main {
  .button {
    background-color: #657489;
    @apply flex flex-row justify-center gap-4;
    align-items: center;
    color: white;
    padding: 16px;
    border-radius: 6px;
    min-width: 15rem;
  }
}
