<main>
  <section class="login">
      <div class="login-card flex flex-col gap-8">
          <span class="login-text">{{ 'PAGES.LOGIN.LOGIN_TEXT' | translate }}</span>
          <p-button label="{{ 'PAGES.LOGIN.LOGIN_BUTTON' | translate }}" (click)="signIn()" [style]="{}"/>
      </div>
      <div class="login-card flex flex-col gap-8">
          <span class="login-text">{{ 'PAGES.LOGIN.LOGIN_TEXT' | translate }}</span>
          <p-button label="{{ 'PAGES.LOGIN.LOGIN_BUTTON' | translate }}" (click)="signIn()" [style]="{}"/>
      </div>
  </section>
<!--  <section class="section-login-btn">-->
<!--    <div class="flex flex-col login">-->
<!--   -->
<!--      <div class="flex flex-col items-center gap-5" style="margin-top: 10rem;">-->
<!--        <span class="powered-by">{{ 'PAGES.LOGIN.POWERED_BY' | translate }}</span>-->
<!--        <img src="assets/images/WeLeaf.png" style="width: 220px" alt="Weleaf logo">-->
<!--      </div>-->
<!--      <div class="flex flex-col items-center gap-5" style="margin-top: 10rem;">-->
<!--        <span class="version">{{ appVersion }}</span>-->
<!--      </div>-->
<!--    </div>-->
<!--  </section>-->
</main>
